# Set "performance" GPU devfreq governor, "simple_ondemand" works bad in recent kernels
KERNEL=="ff9a0000.gpu", SUBSYSTEM=="devfreq", ATTR{governor}="performance"
